In [ ]:
# 1.Mysql에서 member 테이블에 아래 작업 실행
# 사용자 추가
# 사용자 수정/삭제
# 사용자 검색

In [129]:
import pymysql

conn = pymysql.connect(
    host = '127.0.0.1', 
    user = 'root', 
    password='', 
    port = 13306, 
    db = 'mydb', 
    charset = 'utf8')

cursor = conn.cursor()

sql = '''
CREATE TABLE member2(
num INT PRIMARY KEY AUTO_INCREMENT,
name VARCHAR(20) NOT NULL,
email VARCHAR(20) NOT NULL,
c_date DATETIME
);
'''

In [ ]:
tables = cursor.execute("SHOW TABLES")

for table in cursor:
    print(table)

In [ ]:
cursor.execute(sql)

In [131]:
conn.commit()
cursor.execute("SHOW TABLES")

cursor.close()
conn.close()

## DB INSERT

In [132]:
# DB insert

import pymysql

conn = pymysql.connect(
    host = '127.0.0.1', 
    user = 'root', password='', 
    port = 13306, 
    db = 'mydb', 
    charset = 'utf8')

cursor = conn.cursor()

In [133]:
sql_insert = '''INSERT INTO member2 (num, name, email, c_date)\
values(null, "Administrator", "admin@test.com", "2021-01-08")'''

cursor.execute(sql_insert)

1

In [134]:
conn.commit()

cursor.close()
conn.close()

## DB SELECT

In [170]:
# DB select

import pymysql

conn = pymysql.connect(
    host = '127.0.0.1', 
    user = 'root', 
    password='', 
    port = 13306, 
    db = 'mydb', 
    charset = 'utf8')

cursor = conn.cursor()

In [171]:
sql = "SELECT * FROM member2"
cursor.execute(sql)

1

In [172]:
result = cursor.fetchall()
for row_data in result:
    print(row_data)

(3, 'Administrator', 'user1@test.com', datetime.datetime(2021, 1, 8, 0, 0))

In [173]:
cursor.close()
conn.close()

## DB UPDATE

In [152]:
# DB select

import pymysql

conn = pymysql.connect(
    host = '127.0.0.1', 
    user = 'root', 
    password='', 
    port = 13306, 
    db = 'mydb', 
    charset = 'utf8')

cursor = conn.cursor()

In [154]:
sql_update = "UPDATE member2 SET email = 'user1@test.com' WHERE num = 3"
cursor.execute(sql_update)

1

In [155]:
conn.commit()
cursor.close()
conn.close()

## DB DELETE

In [167]:
# DB Delete

import pymysql

conn = pymysql.connect(
    host = '127.0.0.1', 
    user = 'root', 
    password='', 
    port = 13306, 
    db = 'mydb', 
    charset = 'utf8')

cursor = conn.cursor()

In [168]:
sql_delete = "DELETE FROM member2 WHERE num = 4"
cursor.execute(sql_delete)

1

In [169]:
conn.commit()

cursor.close()
conn.close()